{%extends 'new/index.html'%}
{%load static%}
{%block body%}
<br/>
<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card card-body">
                    <a>Are you sure you want to delete <b> {{categories.name}}</b> </a>
                    <br>
                    <br>
                    <form method="POST">
                        {%csrf_token%}
                        <a class="btn btn btn-success" href="{%url 'categories'%}">Cancel</a>
                        <input class="btn btn btn-danger" type="submit" name="confirm" value="Delete">
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>

         </div>

</div>
{%endblock%}